@use "../../function" as *;

.pagin {
    display: flex;
    align-items: center;
    border-radius: calcOutValue(30);
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: calcOutValue(3);
    gap: calcOutValue(3);

    button {
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: calcOutValue(5);
        background: linear-gradient(0deg, #F7F8FA 0%, #F7F8FA 100%), rgba(0, 0, 0, 0.10);
        color: rgba(0, 0, 0, 0.80);
        text-align: center;
        font-size: calcOutValue(16);
        line-height: 118.75%;
        letter-spacing: calcOutValue(-0.16);
        min-width: calcOutValue(30);
        height: calcOutValue(30);

        &:first-child {
            border-radius: calcOutValue(30) calcOutValue(5) calcOutValue(5) calcOutValue(30);
        }

        &:last-child {
            border-radius: calcOutValue(5) calcOutValue(30) calcOutValue(30) calcOutValue(5);
        }

        &:hover:not(.active) {
            opacity: 0.8;
        }

        &.active {
            background: #ECD9B9;
        }
    }
}

@media(max-width: 767px) {
    .pagin {
        button {
            font-size: calcOutValue(14);
            min-width: calcOutValue(24);
            height: calcOutValue(24);
        }
    }
}